<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/dashboard">
            <a>Ai Detection</a>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/dashboard/ai-detection">
            <a>Cgate</a>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/dashboard">
            <a>Censor</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/welcome">
            <a>Welcome</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" >
          <span class="trigger menu-filter"
                nz-icon
                (click)="isCollapsed = !isCollapsed"
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></span>
          <ul nz-menu nzMode="horizontal" nz-col [nzSpan]="23">
                <li nz-menu-item class="menu-item-list">GT filter
                </li>
                <li nz-menu-item class="menu-item-list">TH filter
                </li>
                <li nz-menu-item class="menu-item-list">FR filter
                </li>
                <li nz-menu-item class="menu-item-list">KM filter
                </li>
                <li nz-submenu class="menu-item-list" nzPlacement="bottomLeft" nzTitle="More">
                  <ul >
                    <li nz-menu-item>GaussianBlur</li>
                    <li nz-menu-item>DarkEffect</li>
                    <li nz-menu-item>Brightness</li>
                    <li nz-menu-item>Convert</li>
                  </ul>
                </li>
          </ul>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
